*{
    margin: 0 auto;
}

table{
    width: 300px;
    height: 10px;
}

table,th,td,tr{
    border: solid 1px black;
}



.box{
    width: 100px;
    height: 100px;
    background-color: blue;

    margin: 10px;
}